<h1>ESTUDIANTES ASDI 2019 RUBEN</h1>
<table border="1ptx">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Correo</th>
			<th>Fecha de nacimiento</th>
			<th>Programa</th>
		
		</tr>
        
	</thead>


	<tbody> 

		<% @students.each do |student|%>
		<tr>
			<td><%= student.id %></td>
			<td><%= student.nombre %></td>
			<td><%=student.correo%></td>
			<td><%=student.fecha%></td>
			<td><%=student.programa%></td>
			<td>
			<a href= "/students/<%= student.id%>">Ver</a>
			
			<form action="/students/<%= student.id%>" method="post">
				<input name="_method" type="hidden" value="delete" >
				<input type="submit" value="Borrar" >
			</form>
			</td>
			
            
		</tr>
	<% end %>
        
	</tbody>
</table>
</br>

<a href="/students/new"> Crear Estudiante</a>